
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: 	#777777;
	background: white;
	position: absolute;
	width: 90%;
	margin: 30px;
}

p {
	padding-left: 2%;
}

nav{
  text-align: center;
}

nav ul {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 30px;
}

nav li {
	float: right;
  	display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
  color: gray;
}

footer {
  width: 	90%;
  border-color: #4aaaa5;
  border-top: 10px;
  background-color: #666666;
  float: center;
  font-size: 0.75em;
  clear: both;
  text-align: center;
  margin-top: 	10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ccc;
}


#headSpace {
	width: 90%;
	height: 60px; 
	left: 16%;
	top: 5%;
	border-bottom: 3px solid gray;
}

#headBox {
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: absolute;
	background: #4aaaa5;
	float: left;
	left: 10%;
/*	top: 0%; */
	width: 20%;
	text-align: center;
	font-size: 	+1.5em;
	padding: 20px 0 20px 0;
}

#navBox {
	position: absolute;
	float: right;
	right: 15%;
	top: 0%;
	width: 30%;
	text-align: center;
	padding: 20px 0 20px 0;
}

#backSpace {
	border-color: 	#ddd; 
	background-image: url("./assets/images/organic-tiles.png");
	background-color: 	#efefef;
	width: 90%;
}

#aboutBox {
	position: 	relative;	
	left: 	11%;
	float: left;
	width: 50%;
	margin: 20px 0 20px 0;
	padding: 20px 10px 20px 0px;
	border: 3px solid gray;
	background-color: 	white;

}

#aboutHeader {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 	+1.5em;
	color: #4aaaa5;
	position: relative;
	top: -15%;
	left: 5%;
	padding-bottom: 20px;
	border-bottom: 	3px solid gray;
	width: 	65%;
}	


#aboutImage {
	float: left;
	width: 35%;
	padding-right: 	2%;
}

#aboutText {
	width: 90%;
	float: left;
	padding-top: 	5%;
	padding-left: 	5%;
}

#contactHeader {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 	+1.5em;
	color: #4aaaa5;
	position: relative;
	padding: 	5%;
	top: -15%;
	right: 0%;
	text-align: 	center;
}

#contactBox {
	left: 	11%;
	float: right;
	width: 20%;
	height:  100px;
	margin: 20px 90px 0 0;
	padding: 20px;
	border: 3px solid gray;
	background-color: 	white;

} 

#gallery {
  margin: 0;
  padding: 0;
  float: 	auto;
}


#gallery img {
	float: 	left;
	width: 	150px;
	padding-right: 	3px;
}

/*
#gallery a p {
	position: absolute;
	bottom: 3px;
}
*/

#gallery a p {
	position: relative;
	left: 	-110px;
	bottom: -75px;
	background-color: #4aaaa5;
	
}


.imageBlock {
	margin: 	0;
	padding::	0;
	float: 	left;
}


.imageBlock img {
	float: 	left;
	width: 	200px;
	padding-right: 	15px;
	padding-bottom: 10px;
}

.imageText {
	position: relative;
	padding-left: 	0;
	bottom: 40px; 
	height: 	25px; 
	text-align: 	center;	
	color: white;
	text-decoration: 	none;
/*	background-color: 	#4aaaa5; */
/*	background-size: 	200px; */
}

/*
.imageBlock p {
	position: relative;
	color: black;
	bottom: -75px;
	height: 	25px;
/*	background-color: 	#4aaaa5;
	background-height: 	20%;
}
*/
.portfolioLink {
	float: auto;
	width: 35px;
}

.contactLink {
	float: auto;
	width: 35px;
	padding-right: 10px;
}

.linkImage {
	float: auto;
	width: 35px;
}

.clearfix::after {
    content:" ";
    display:block;
    clear:both;
}

/* full screen - computer */
@media screen and (max-width: 980px) {

}


/*medium screen - tablet */
@media screen and (max-width: 768px) {

#contactBox {
	position: 	relative;	
	left: 	5%;
	float: left;
	width: 72%;
	margin: 20px 10px 0 0;

}

.contactLink {
	float: auto;
	width: 10%;
	padding-left: 	20px;
	padding-right: 20px;
}

#aboutBox {
	position: 	relative;	
	left: 	5%;
	float: left;
	width: 80%;
	margin: 20px 0 20px 0;
	padding: 20px 0px 20px 0px;
}


#headBox {
	left: 0%;
	width: 45%;
	padding: 15px 0 20px 0;
}


#navBox {
	position: relative;
	float: right;
	width: 40%;
	text-align: center;
	padding: 20px 0 20px 0;
	font-size: 	.75em;
}


}


/* Small screen - phone size */
@media screen and (max-width: 640px) {

#contactBox {
	position: 	relative;	
	left: 	5%;
	float: left;
	width: 72%;
	margin: 20px 10px 0 0;

}

.contactLink {
	float: auto;
	width: 10%;
	padding-left: 	20px;
	padding-right: 20px;
}

#aboutBox {
	position: 	relative;	
	left: 	5%;
	float: left;
	width: 80%;
	margin: 20px 0 20px 0;
	padding: 20px 0px 20px 0px;
}

#headBox {
	left: 0%;
	width: 90%;
	padding: 15px 0 20px 0;
}

#navBox {
	position: relative;
	float: left;
	top: 55%;
	width: 90%;
	text-align: center;
	margin-top: 20px;
	padding: 20px 0 20px 0;
}

#headSpace {
	padding: 10px 0 40px 0;
}

.imageBlock img {
	float: 	left; 
	width: 	80%;
	padding-right: 	5px;
	padding-bottom: 10px;
}

}
